<div class="modal fade" id="modal-conditions-textes" tabindex="-1" role="dialog">
	<div class="modal-dialog modal-lg" role="document">
	<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="modal-title">Textes pré-configurés</h4>
			</div>
			<div class="modal-body" id="modal-body">

				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

					<div class="panel panel-default">
						<div class="panel-heading">
							 <a class="collapsed" data-parent="#accordion"  role="button" data-toggle="collapse" href="#modePunaises" aria-expanded="false" aria-controls="modePunaises">Mode opératoire punaises</a>
						</div>
						<div id="modePunaises" class="panel-collapse collapse">
							<div class="panel-body">
<textarea class="text-selector form-control" style="width: 100%;" rows="8">
**MODE OPERATOIRE TRAITEMENT CONTRE LES PUNAISES DE LITS**

**POUR LES PLANCHERS NON VITRIFIES OU TOUT AUTRES SUPPORTS NOUS DECLINONS TOUTES RESPONSABILITES SUR D'EVENTUELLES TRACES DE PRODUITS RESTANTES**

**A LA CHARGE DU CLIENT
PREPARATION DES LIEUX AVANT LES OPERATIONS DE DESINSECTISATION PUNAISE DE LIT**

* Laver la literie (drap, housse, couette, etc…) à 60°minimum, puis stocker les dans un endroit non infesté.
* Nous conseillons d'utiliser des sacs pour mettre le linge et les  vêtements infestés de punaises de lits destinés au lavage. Ce sac évite et diminue le risque de contamination d'autres pièces de votre habitation par les punaises.
* Vider les commodes, penderie, tables de nuit proches des lits ou des zones infestées.
* Passer soigneusement l'aspirateur dans tous les endroits accessibles où les punaises ont pu se loger. Puis jeter le sac dans une poubelle à l'extérieur de l'habitation.
* Débarrasser les pièces de tous encombrements inutiles.
* Décrocher les tableaux et retirer les posters ou autres décors muraux.
* Retirer les piles des détecteurs de fumée ou les désactiver.
* Retirer les matelas des encadrements du lit et les adosser au mur.
* Pour les matelas en mauvais état, si les coutures sont décousues ou déchirées, il sera peut être nécessaire de s'en débarrasser.
* Ne pas introduire de nouveaux meubles, matelas ou sommier avant éradication complète des punaises.
* En cas de très forte infestation, il est parfois nécessaire de démonter les meubles, encadrement de lit, goulotte électrique, etc…
* **Laissez libre les locaux traités 12h (sans présence humaine et animal) puis aérer les pièces**
* Après traitement, ne pas laver les sols durant 3 semaines (produit rémanent)
* Ne pas pénétrer dans votre logement pendant une durée de 8 heures

**A LA CHARGE DU PRESTATAIRE
LE TRAITEMENT PEUT ETRE REALISE DE DIFFERENTES MANIERES SELON LE NIVEAU D INFESTATION**

* Avec un pulvérisateur basse pression. Le technicien appliquera le produit actif avec une lance sur tous les supports où les punaises de lits ont pu se loger, il insistera particulièrement sur les sommiers, les plinthes, les parquets, les meubles, les fissures, etc…
* Avec un atomiseur. C'est un dispositif qui permet de vaporiser de très fines gouttelettes propulsées grâce à une turbine mélangeant de l'air et le produit actif.
* Par fumigation. Il s'agit de petit récipient prêt à l'emploi un fumigateur permet la libération de fines particules insecticides pénétrant chaque anfractuosité de la zone traitée où des insectes pourraient tenter de trouver refuge
</textarea>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<a class="collapsed" data-parent="#accordion"  role="button" data-toggle="collapse" href="#modePunaises77" aria-expanded="false" aria-controls="modePunaises77">Mode opératoire punaises 77</a>
						</div>
						<div id="modePunaises77" class="panel-collapse collapse">
							<div class="panel-body">
<textarea class="text-selector form-control" style="width: 100%;" rows="8">
**MODE OPERATOIRE TRAITEMENT CONTRE LES PUNAISES DE LITS**

**A LA CHARGE DU CLIENT
PREPARATION DES LIEUX AVANT LES OPERATIONS DE DESINSECTISATION PUNAISE DE LIT**

* Laver la literie (drap, housse, couette, rideaux, etc…) à 60°minimum, puis stocker les dans un endroit non infesté.
* Nous conseillons d'utiliser des sacs pour mettre le linge et les  vêtements infestés de punaises de lits destinés au lavage. Ce sac évite et diminue le risque de contamination d'autres pièces de votre habitation par les punaises.
* Vider les commodes, penderie, tables de nuit proches des lits ou des zones infestées.
* Passer soigneusement l'aspirateur dans tous les endroits accessibles où les punaises ont pu se loger. Puis jeter le sac dans une poubelle à l'extérieur de l'habitation.
* Débarrasser les pièces de tous encombrements inutiles.
* Décrocher les tableaux et retirer les posters ou autres décors muraux.
* Retirer les piles des détecteurs de fumée ou les désactiver.
* Retirer les matelas des encadrements du lit et les adosser au mur.
* Pour les matelas en mauvais état, si les coutures sont décousues ou déchirées, il sera peut être nécessaire de s'en débarrasser.
* Ne pas introduire de nouveaux meubles, matelas ou sommier avant éradication complète des punaises.
* En cas de très forte infestation, il est parfois nécessaire de démonter les meubles, encadrement de lit, goulotte électrique, etc…
* **Laissez libre les locaux traités 12h (sans présence humaine et animal) puis aérer les pièces**
* Après traitement, ne pas laver les sols durant 3 semaines (produit rémanent)
* Ne pas pénétrer dans votre logement pendant une durée de 8 heures

**A LA CHARGE DU PRESTATAIRE
LE TRAITEMENT PEUT ETRE REALISE DE DIFFERENTES MANIERES SELON LE NIVEAU D INFESTATION**

* Avec un pulvérisateur basse pression. Le technicien appliquera le produit actif avec une lance sur tous les supports où les punaises de lits ont pu se loger, il insistera particulièrement sur les sommiers, les plinthes, les parquets, les meubles, les fissures, etc…
* Avec un atomiseur. C'est un dispositif qui permet de vaporiser de très fines gouttelettes propulsées grâce à une turbine mélangeant de l'air et le produit actif.
* Par fumigation. Il s'agit de petit récipient prêt à l'emploi un fumigateur permet la libération de fines particules insecticides pénétrant chaque anfractuosité de la zone traitée où des insectes pourraient tenter de trouver refuge
* 2 interventions complètes  espacées de 10 jours.
</textarea>
							</div>
						</div>
					</div>

										<div class="panel panel-default">
						<div class="panel-heading">
							 <a class="collapsed" data-parent="#accordion"  role="button" data-toggle="collapse" href="#modeRenouvellement" aria-expanded="false" aria-controls="modeRenouvellement">Renouvellement 3 ans</a>
						</div>
						<div id="modeRenouvellement" class="panel-collapse collapse">
							<div class="panel-body">
<textarea class="text-selector form-control" style="width: 100%;" rows="8">
Le présent contrat prend effet à la date de signature pour une durée de 1 an et renouvelable par tacite reconduction 3 fois pour une période de 3 ans. Elle peut être dénoncée par les deux parties à chaque date anniversaire par lettre recommandée avec accusé de réception en respectant un préavis de deux mois.
</textarea>
							</div>
						</div>
					</div>

				</div>

			</div>
	</div>
	</div>
</div>
