{% set _menu_active = 'contrat' %}
{% extends 'base.html.twig' %}
{% block title %}Contrats{% endblock title %}
{% block body %}
    <ol class="breadcrumb">
        <li><a href="{{ path('contrat') }}">Contrat</a></li>
    </ol>

    {{ include('societe/choixForm.html.twig', {'urlTarget': path('contrats_societe', {'id': '_id_'}), 'autofocus': true })}}

{% endblock %}
