<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <script>
        function subst() {
            var vars={};
            var x=document.location.search.substring(1).split('&');
            for (var i in x) {var z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
            var x=['frompage','topage','page','webpage','section','subsection','subsubsection'];
            for (var i in x) {
                var y = document.getElementsByClassName(x[i]);
                for (var j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
            }
        }
    </script>
    <style type="text/css">
    p {
    	text-align: right;
    	font-size: 12px;
    	margin: 0 65px 0 0;
    	padding: 0;
    }
    img {
    	width: 21cm;
    }
    body, div, img, span {
    	padding: 0;
    	margin: 0;
    }
    </style>
</head>
<body onload="subst()">
<div>
	<p>Page&nbsp;<span class="page"></span>&nbsp;sur&nbsp;<span class="topage"></span></p>
	<img src="file://{{ kernelRootDir }}/../web/images/bg-footer-pdf-contrat.jpg" />
</div>
</body>
</html>
