<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <style type="text/css">
    p {
    	text-align: right;
    	position: absolute;
    	top: 100px;
    	right: 130px;
    	font-size: 12px;
    }
    img {
    	width: 21cm;
    }
    body, div, p, img {
    	padding: 0;
    	margin: 0;
    }
    </style>
</head>
<body>
<div>
	<img src="file://{{ kernelRootDir }}/../web/images/bg-header-pdf-contrat.jpg" />
	<p><strong>Proposition {{ contrat.numeroArchive }}</strong></p>
</div>
</body>
</html>
