{% set _menu_active = 'contrat' %}
{% extends 'base.html.twig' %}

{% block body %}
    {{ include('societe/choixForm.html.twig', {'form': formSociete}) }}
<a href="{{ path('contrat_creation', {'id': societe.getId()}) }}" class="btn btn-sm btn-warning"><strong><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Créer un nouveau contrat</strong></a>
{% endblock %}


            