{% set _menu_active = 'configuration' %}
{% extends 'base.html.twig' %}
{% block body %}
    <div id="wrapper">
    	<h1>Configuration</h1>

    	{% for prestation in configuration.prestations %}
            {{ prestation.prestationNom }}
            {% endfor %}
            
        <div class="row">
            <div class="cols-xs-6 text-left">
    		<a href="{{ path('configuration_modification_produits') }}" class="pull-left btn btn-warning">Modifier les produits</a>
            </div>
            <div class="cols-xs-6 text-right">
                <a href="{{ path('configuration_modification_prestations') }}" class="pull-left btn btn-warning">Modifier les prestation</a>
            </div>
        </div>
    </div>
{% endblock %}
