{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
        
        	<h1>Calendar Bundle</h1>

        	{% include 'ADesignsCalendarBundle::calendar.html.twig' %}

        </div>
    </div>
{% endblock %}

