{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
        	
        	<div id="fc-events" class="text-center">
				<div class="event btn btn-primary" data-duration="01:00" data-title="Martial // Le petit opportun"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp;Passage</div>
			</div>
        	<div id="calendrier" data-identifiant-etablissement="001" style="max-width: 650px;margin:0 auto;"></div>
        </div>
    </div>
{% endblock %}

