{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
        	<div id="calendrier" data-url-populate="{{path('calendarPopulate', {'etablissement': etablissement})}}" data-url-update="{{path('calendarUpdate', {'etablissement': etablissement})}}" data-url-delete="{{path('calendarDelete', {'etablissement': etablissement}) }}" style="max-width: 900px;margin:0 auto;"></div>
        </div>
    </div>
{% endblock %}

