<div class="row">
    <div class="col-xs-12">
        <h3>Rechercher par établissement</h3>
        {{ form_start(form, {'attr': { 'novalidate': 'novalidate', 'class': 'form-horizontal' } }) }}
        <div class="form-group">
            <div class="col-xs-12">
                {{ form_errors(form.etablissements) }}
                <div class="input-group select2-bootstrap-append">
                    {{ form_widget(form.etablissements, {'attr': {'class': 'form-control select2 select2-ajax select2SubmitOnChange', 'data-placeholder': 'Rechercher un établissement', 'data-url' : path('etablissement_search'), 'aria-hidden': true } }) }}
                </div>
            </div>
        </div>
        {{form_end(form)}}
    </div>
</div>
