# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    instanceapp: null
    database_host: 127.0.0.1
    database_port: 27017
    database_name: aurouze
    database_user: null
    database_password: null
    database_elasticsearch_name: aurouze

    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    osm.url_search: "http://URL_DE_RECUPERATION"
    osm.return_format: "json"

    knp_snappy_pdfbinary: xvfb-run wkhtmltopdf
    knp_snappy_imagebinary: xvfb-run wkhtmltoimage
    
    banque:
        creditorId: 'XXXXXXXXXXX'
        creditorName: 'ETABLISSEMENTS XXXX XXXXXXXXX'
        creditorAccountIBAN: 'FRXXXXXXXXXXXXXXXXXXXXXXX'
        creditorAgentBIC: 'XXXXXXX'

    application:
        name: ""
        shortname: ""
        adresse_libelle: ""
        adresse_adresse: ""
        adresse_cp: ""
        adresse_commune: ""
        commercial: ""
    passage:
      coordonnees:
        email : "emailTransmission@dns.fr"
        nom : 'Nom du mail'
        numero : '00000000'
        replyemail : "emailReplyTransmission@dns.fr"
    facture:
        emetteur:
            nom: ""
            adresse: ""
            code_postal: ""
            commune: ""
            telephone: ""
            fax: ""
            email: ""
            infos: ""
            banque: ""
            virement: ""
            numero_compte: ""
            numero_compte_especes: ""
        emetteur_SEINE_ET_MARNE:
            nom: ""
            adresse: ""
            code_postal: ""
            commune: ""
            telephone: ""
            fax: ""
            email: ""
            infos: ""
            banque: ""
            virement: ""
            numero_compte: ""
            numero_compte_especes: ""
        banque:
            nom: ""
            adresse: ""
            code_postal: ""
            commune: ""
        banqueEspece:
            nom: ""
            adresse: ""
            code_postal: ""
            commune: ""
    banque:
        creditorId: ""
        creditorName: ""
        creditorAccountIBAN: ""
        creditorAgentBIC: ""