body {
    padding-top: 60px;
}

#ajax_notifications {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1199;
}

#ajax_form_progress_notification, #ajax_form_error_notification {
	display: none;  
	margin: 2px auto;
	color: #fff;
	padding: 5px;
	text-align: center;
	// .opacite(0.9);
}

#ajax_form_progress_notification {
	background: #114C8D;
	z-index: 1200;
	width: 150px;
}

#ajax_form_error_notification {
	z-index: 1201;
	background: #900000;
	width: 400px;
    a
    {
        color: #fff;
        text-decoration : underline;
    }

   a:hover { text-decoration : none; }
}

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple {
	border-radius: 0px !important;
	border: 1px solid #ccc !important;
	padding: 6px 12px 6px 4px !important;
	height: 34px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 33px !important;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
	margin-top: 0px !important;	
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	line-height: 19px !important;
}