body {
    padding-top: 60px;
}

#ajax_notifications {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1199;
}

#ajax_form_progress_notification, #ajax_form_error_notification {
	display: none;
	margin: 2px auto;
	color: #fff;
	padding: 5px;
	text-align: center;
	// .opacite(0.9);
}

#ajax_form_progress_notification {
	background: #114C8D;
	z-index: 1200;
	width: 150px;
}

#ajax_form_error_notification {
	z-index: 1201;
	background: #900000;
	width: 400px;
    a
    {
        color: #fff;
        text-decoration : underline;
    }

   a:hover { text-decoration : none; }
}

.tooltip {
    position: fixed;
    z-index: 100;
}

.fc-event {
    border: 1px solid #fff;
    padding: 2px 5px;
    border-radius: 6px;
}

.fc-time-grid .fc-slats td {
    height: 1.8em;
}

.fc-agendaWeek-view .fc-event .fc-time {
    display: none;
}
.panel-heading .checkbox {
	margin: 0;
	
}
