body {
    padding-top: 60px;
}

#ajax_notifications {
    position: fixed;
    width: 100%;
    top: -10px;
    z-index: 1199;
}

#ajax_form_progress_notification, #ajax_form_error_notification {
    margin: 0 auto;
    display: none;
    padding-bottom: 10px;
}

#ajax_form_progress_notification {
    z-index: 1200;
    width: 200px;
}

#ajax_form_error_notification {
    z-index: 1201;
    width: 730px;
}

.tooltip {
    position: fixed;
    z-index: 100;
}

.fc-event {
    /*border: 1px solid #fff*/;
    padding: 2px 4px;
    border-radius: 6px;
}

.fc-time-grid .fc-slats td {
    height: 1.8em;
}

.fc-today{
   background-color: transparent !important;
}

.fc-agendaWeek-view .fc-event .fc-time {
    display: none;
}

.panel-heading .checkbox {
    margin: 0;

}

.badge-default {
    border: 1px solid #ccc !important;
    background-color: #fff !important;
    color: #333333 !important;
}

.badge-danger {
    background-color: #d43f3a !important;
    color: white !important;
}

.badge-warning {
    background-color: #d58512 !important;
    color: white !important;
}

.badge-success {
    background-color: #398439 !important;
    color: white !important;
}

.badge-info {
    background-color: #269abc !important;
    color: white !important;
}

.badge-inverse {
    background-color: #333333 !important;
    color: white !important;
}

.twitter-typeahead {
    display: block !important;
}

.tt-hint {
  color: #999;
}

.tt-menu {
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  margin: 8px 0;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 15px;
  font-size: 15px;
  line-height: 28px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}


.searchable_result a {
	color: #333;
}
.searchable_result a:hover {
	text-decoration: none;
}
.show-print {
	visibility: hidden !important;
	position: absolute !important;
}
