body {
    padding-top: 60px;
}

#ajax_notifications {
    position: fixed;
    width: 100%;
    top: -10px;
    z-index: 1199;
}

#ajax_form_progress_notification, #ajax_form_error_notification {
    margin: 0 auto;
    display: none;
    padding-bottom: 10px;
}

#ajax_form_progress_notification {
    z-index: 1200;
    width: 200px;
}

#ajax_form_error_notification {
    z-index: 1201;
    width: 730px;
}

.tooltip {
    position: fixed;
    z-index: 100;
}

.fc-event {
    /*border: 1px solid #fff*/;
    padding: 2px 4px;
    border-radius: 6px;
}

.fc-time-grid .fc-slats td {
    height: 1.8em;
}

.fc-today{
   background-color: transparent !important;
}

.fc-agendaWeek-view .fc-event .fc-time {
    display: none;
}

.panel-heading .checkbox {
    margin: 0;

}

.badge-default {
    border: 1px solid #ccc !important;
    background-color: #fff !important;
    color: #333333 !important;
}

.badge-danger {
    background-color: #d43f3a !important;
    color: white !important;
}

.badge-warning {
    background-color: #d58512 !important;
    color: white !important;
}

.badge-success {
    background-color: #398439 !important;
    color: white !important;
}

.badge-info {
    background-color: #269abc !important;
    color: white !important;
}

.badge-inverse {
    background-color: #333333 !important;
    color: white !important;
}

.twitter-typeahead {
    display: block !important;
}

.tt-hint {
  color: #999;
}

.tt-menu {
  max-height: 500px;
  overflow-y: auto;
  width: 100%;
  margin: 8px 0;
  padding: 4px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 15px;
  font-size: 15px;
  line-height: 28px;
}

.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}


.searchable_result a {
	color: #333;
}
.searchable_result a:hover {
	text-decoration: none;
}
.show-print {
	visibility: hidden !important;
	position: absolute !important;
}

#searchable {
    margin-bottom: 10px;
}

.container .breadcrumb:first-child {
    margin-bottom: 5px;
}

#nav_nom_etablissement {
    margin-bottom: 14px;
    max-width: 200px;
    height: 21px;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.deco-none {
  color: inherit;
  text-decoration: inherit;
}

.thumbnail-overlayed {
  position: relative;
}

.vignette {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #b5e8ff;
}

.content-overlay {
    position: relative;
}

.thumbnail-overlayed:hover .overlay {
  opacity: 0.9;
}

.overlay-text {
  color: black;
  font-size: 14px;
  position: absolute;
  top: 10%;
  left: 10%;
}

.attachement-remove {
  position: absolute;
  top: 5%;
  left: 84%;
}
.overlay-titre{
  font-size: 16px;
}

.visible-technicien {
  border-style: solid;
  border-width: 2px;
  border-color: darkred;
}

.thumbnail-overlayed{
    cursor: pointer;
}

/* The Modal VIEWER */
.modal-viewer {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-viewer-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
.modal-viewer-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-viewer-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The modal-viewer-close Button */
.modal-viewer-close {
    position: absolute;
    top: 50px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.modal-viewer-close:hover,
.modal-viewer-close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-viewer-content {
        width: 100%;
    }
}
