.show-print {
	visibility: visible !important;
	position: relative !important;
	padding: 10px 0px !important;
	border-bottom: 1px dashed black !important;
	page-break-inside: avoid !important;
}
.hide-print {
	display: none !important;
}
.enlarge-print {
	width: 100% !important;
	padding: 0px !important;
}

.show-print .row {
	padding: 2px 0px !important;
}
#liste_passage {
	height: auto !important;
	border: none !important;
	background-color: #fff !important;
	padding: 0px !important;
}