{% if attachement.isImage %}
  <div class="thumbnail thumbnail-overlayed" data-cible="modal-viewer-{{attachement.id }}" >
    <img src="{{ attachement.getBase64Src() }}" alt="{{ attachement.originalName }}" class="img-thumbnail vignette" style="margin-bottom:0; max-width : 100px; max-height : 100px;"/>
    <div class="overlay">
    </div>
  </div>
{% endif %}
