{% set _menu_active = 'facture' %}
{% extends 'base.html.twig' %}

{% block title %}Factures{% endblock title %}

{% block body %}
	<ol class="breadcrumb">
		<li><a href="{{ path('facture') }}">Facture</a></li>
	</ol>

	{{ include('societe/choixForm.html.twig', {'urlTarget': path('facture_societe', {'id': '_id_'}), 'autofocus': true }) }}

  	<h3>Contrats comportant des factures non éditées</h3>

	{{ include('contrat/contratTableau.html.twig', {'contrats': contratsFactureAEditer }) }}

{% endblock %}
