{% extends 'base_pdf.html.twig' %}

{% block body %}
  {% for facture in facturesRelancees %}
    {% if facture.numeroRelance == 1 %}
      {% include 'facture/pdfRelance1.html.twig' with {'facture': facture} %}
    {% elseif facture.numeroRelance == 2 %}
      {% include 'facture/pdfRelance2.html.twig' with {'facture': facture} %}
    {% elseif facture.numeroRelance == 3 %}
      {% include 'facture/pdfMisEnDemeure.html.twig' with {'facture': facture} %}
    {% endif %}
    <div style="page-break-after: always;"></div>
  {% endfor %}
{% endblock %}
