{% extends 'base_pdf.html.twig' %}

{% block body %}
	<br/> 

      {% for exportStat in exportStatsArray %}
        {% if exportStat|length < 2 %}
        	{% if not loop.first %}
        	<hr style="border-color: #fff;margin: 0;page-break-after: always;" />
        	{% endif  %}
          <div class="row" style="page-break-inside: avoid;">
            <div class="col-xs-12">
              <h3><strong>{{exportStat | first }}</strong></h3>
            </div>
          </div>
         {% elseif exportStat|length < 11 %}
         {% if not loop.last %}
         <br/> 
         {% endif %}
          {% else %}
          <div class="row" style="page-break-inside: avoid;">
            {% for key, stat in exportStat %}
            <div class="col-xs-1 text-right" style="margin:0px; padding:3px; border:1px solid black; min-height: 60px; {% if key == 0 %} width: 130px; {% endif %}"><small>{{stat}}</small></div>
            {% endfor %}
          </div>
          {% endif %}
   {% endfor %}

{% endblock %}
