{% set _menu_active = 'societe' %}
{% extends 'base.html.twig' %}
{% block body %}
    {{ include('societe/choixForm.html.twig', {'form': form}) }}
    <div class="text-right">
    <a class="btn btn-default" href="{{ path('societe_modification') }}"><span aria-hidden="true" class="glyphicon glyphicon-plus"></span>&nbsp;Créer une nouvelle société</a>
    </div>
{% endblock %}
