{% extends 'base_pdf.html.twig' %}

{% block body %}
    {% for passage in passages %}
        <div style="page-break-after: always;">
            {% include 'passage/pdfBonsStandalone.html.twig' with {'passage': passage, 'parameters': parameters} %}
        </div>
    {% endfor %}
{% endblock %}
